In [2]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\lroma\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [4]:
# URL of page to be scraped
url = "https://redplanetscience.com/"
browser.visit(url)

In [5]:
#scraping site to find latest title and assigning it to a variable
html = browser.html
soup = bs(html, 'html.parser')
titles = soup.find('div', class_='content_title')
news_title = titles.text  
news_title

"Hear Audio From NASA's Perseverance As It Travels Through Deep Space"

In [7]:
#scraping site to find latest paragraph and assigning it to a variable
html = browser.html
soup = bs(html, 'html.parser')
paragraphs = soup.find('div', class_='article_teaser_body')
news_p = paragraphs.text  
news_p

"The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight."

In [8]:
# using splinter to navigate and find the image url for the current Featured Mars Image 

image_url = 'https://spaceimages-mars.com/'
browser.visit(image_url)

In [19]:
#assigning image url to 'featured_image_url' variable
html = browser.html
soup = bs(html, 'html.parser')
image = soup.find('a', target ='_blank' )['href']
featured_image_url = f'{image_url}{image}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [47]:
# using pandas to scrape the table containing facts about the planet
#importing dependancy
import pandas as pd

In [68]:
# using pandas 'read html' to pars the url
tables_url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(tables_url)
html_tables = tables[0]
html_tables

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [138]:
# converting datea into a HTML table String
for x in range(1):
    print('<table>')
    print('<thead>')
    print('<th>Mars Facts</th>')
    print(f'  <tr>')
    for index, row in html_tables.iteritems():
        print(f'    <th> {row[x]} </th>')
    print(f'  </tr>')
for x in range(1,7):
    print(f'  <tr>')
    for index, row in html_tables.iteritems():
        print(f'    <td> {row[x]} </td>')
    print(f'  </tr>')
print('</thead>')
print('</table>')

<table>
<thead>
<th>Mars Facts</th>
  <tr>
    <th> Mars - Earth Comparison </th>
    <th> Mars </th>
    <th> Earth </th>
  </tr>
  <tr>
    <td> Diameter: </td>
    <td> 6,779 km </td>
    <td> 12,742 km </td>
  </tr>
  <tr>
    <td> Mass: </td>
    <td> 6.39 × 10^23 kg </td>
    <td> 5.97 × 10^24 kg </td>
  </tr>
  <tr>
    <td> Moons: </td>
    <td> 2 </td>
    <td> 1 </td>
  </tr>
  <tr>
    <td> Distance from Sun: </td>
    <td> 227,943,824 km </td>
    <td> 149,598,262 km </td>
  </tr>
  <tr>
    <td> Length of Year: </td>
    <td> 687 Earth days </td>
    <td> 365.24 days </td>
  </tr>
  <tr>
    <td> Temperature: </td>
    <td> -87 to -5 °C </td>
    <td> -88 to 58°C </td>
  </tr>
</thead>
</table>